<form name="login_form" method="post">
    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="text" id="login_form_username" name="_username" required="required" autocomplete="username"
                   class="form-control">
            <label class="form-label required" for="login_form_username">Username</label>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="password" id="login_form_password" name="_password" required="required" class="form-control">
            <label class="form-label required" for="login_form_password">Password</label>
        </div>
    </div>

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </div>
</form>
