<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bohemia demo{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('build/styles/bohemia-ui.bundle.min.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/scripts/bohemia-ui.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
